body {
    background-color: #EEEEEE;
    height: calc(100vh - 60px);
}

div#restaurante {
    position: relative;
    width: 100%;
    height: 36px;
    margin-top: 0%;
    background-color: #eeeeee00;
}

#fotoPerfil {
    width: 40px;
    height: 40px;
    border-radius: 51%;
    position: relative;
    left: 48%;
    top: -43px;
    box-shadow: 1px 4px 13px #ccccccd1;
}

h2{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    position: relative;
    top: 20%;
    margin-left: 46%;
    font-weight: lighter;
}


div#restaurante #iconeVoltar{
    position: relative;
    width: 3%;
    left: 0%;
    top: -45px;
}

div#restaurante #iconeSeta {
    position: relative;
    width: 13px;
    margin-top: -7%;
    left: 0%;
}

div#restaurante #iconeSeta:hover {
    width: 12px;
}

.search-box {
    position: relative;
    top: 7%;
    left: 23%;
    background: #ffffff;
    height: 22px;
    border-radius: 7px;
    padding: 6px;
    width: 50%
}

.search-txt {
    border: none;
    background: white;
    float: left;
    padding: 0;
    color: #1b1a1a;
    font-size: 15px;
    transition: 0.5s;
    line-height: 23px;
    width: 100%;
    outline: none;
}

.search-box img {
    width: 2.5%;
    left: 96%;
    top: 10px;
    position: absolute;
}

div#localimagens {
    background-color: #cccccc1f;
    border-radius: 1%;
    position: relative;
    width: 95%;
    top: 64px;
    left: 2.5%;
    height: 74%;
    overflow-y: auto;
    overflow-x: hidden;
}

#fotofavoritei {
    width: 5.8%;
    height: 18px;
    border-radius: none;
    border: none;
    box-shadow: none;
    position: relative;
    margin-left: 25.4%;
    top: -148px;
}


#fotofavoritei:hover {
    width: 8%;
    
}

img.fotoOpcoes{
    width: 4%;
    position: relative;
    left: 22.5%;
    top: 9%;
    margin: 4px;
}

::-webkit-scrollbar {
    width: 11px;
    border-radius: 1%;
}
::-webkit-scrollbar-track {
    background-color: #807c783d;
}
::-webkit-scrollbar-button {
    background-color: #6e6c6954;
}
::-webkit-scrollbar-thumb {
    background-color: #6e6c6954;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #6e6c6994;
}

div.imagens {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-left: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 220px;
}

div.imagens::-webkit-scrollbar {
    width: 2px;
    border-radius: 1%;
    height: 5px;
}

div.imagens::-webkit-scrollbar-track {
    background-color: #cccccc1f
}

div.imagens::-webkit-scrollbar-button {
    background-color: #cccccc1f;
}
div.imagens::-webkit-scrollbar-thumb {
    background-color: #6e6c6954;

}
div.imagens::-webkit-scrollbar-thumb:hover {
    background-color: #6e6c6994;
}

h3{
    color: #3f3e3c;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    margin-left: 4.7%;
    font-weight: bold;
    display: flex;
    overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
    top: 7%;
}

div.imagens div.box {
    margin: -6.8%;
    margin-top: 3.7%;
    text-align: center;
    display: inline-block;
    transition: 0.4s;

}

div.imagens div.box:hover {
    cursor: pointer;
    transform: translateY(-4%);
    background: rgba (102, 175, 102, 0.637);
}

div.imagens div.box img {
    width: 32%;
    height: 98px;
    border-radius: 16%;
    border: 5px #FFFFFF solid;
    box-shadow: 1px 1px 1px 1px rgb(194 190 184);
    position: relative;
    
}

div.imagnes div.box ,h4 {
    color: #3f3e3c;
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    font-weight: inherit;
}
