<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:fragment="myHead">
        <meta charset="utf-8" />
        <link rel="icon" href="http://localhost:8080/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/base.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="flickityMetaJs">
        <script src="/lib/flickity@2.2.2/flickity.min.js"></script>
    </th:block>

    <th:block th:fragment="flickityMetaCss">
        <link rel="stylesheet" href="/lib/flickity@2.2.2/flickity.min.css">
    </th:block>

    <header th:fragment="myHeader" class="base-header" >
        <a class="base-logo" href="/"><img src="/img/logo.png" alt="TANOMENU"></a>

        <form sec:authorize="isAuthenticated()"
              class="search-box"
              action="/search"
              method="get"
        >
            <input type="text" placeholder="Pesquisar locais..." name="q">
            <button type="submit">
                <span class="material-icons">search</span>
            </button>
        </form>

        <div sec:authorize="isAuthenticated()"
             th:with="user=${@userRepository.find(#authentication.principal.getUUID()).get()}"
             class="badge"
        >
            <label>
                <img th:src="${user.image} ? @{/upload/{uuid} (uuid=${user.image})} : @{/img/user-icon.png}">
                <input type="checkbox">
                <nav class="badge-dropdown">
                    <ul>
                        <li>
                            <a th:href="@{/profile}">
                                <span class="material-icons">settings</span> Configurações
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                <span class="material-icons">logout</span> Sair
                            </a>
                        </li>
                    </ul>
                </nav>
            </label>
        </div>
    </header>

    <footer th:fragment="myFooter" class="base-footer">
        Todos os direitos reservados - 2021 &copy;
    </footer>

    <div th:fragment="ooops(message)" style="display: flex; flex-direction: column; align-items: center; text-align: center; margin: 30px;">
        <h2 style="font-size: 30px; margin-bottom: 30px;" th:text="'Ooops... ' + ${message}" />
        <img style="width: 300px" src="/img/banana.png" />
    </div>
</html>