<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
  <head>
    <th:block th:replace="_layout/common :: myHead" />
    <link href="/css/restaurant/register.css" rel="stylesheet">
    <title>Cadastrar Produto</title>
  </head>
    <body class="base base-background-color">
    <th:block th:replace="_layout/common :: myHeader" />

    <main class="register-restaurant">
      <h1 class="page-title">Cadastrar Produto</h1>

      <!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->
      <!--/*@thymesVar id="productDto" type="tanomenu.web.dto.ProductDto"*/-->
      
      <!--/*@thymesVar id="url" type="java.lang.String"*/-->
      <form method="post" th:action="@{${url}}" th:object="${productDto}" enctype="multipart/form-data">
        <div class="fieldsets-container">
          <fieldset>
            <input type="hidden" th:field="*{uuid}">
            <input type="hidden" th:if="*{restaurantUuid}">

            <label class="field">
              Tipo de Prato
              <select th:field="*{category}">
                <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.CategoryProduct).values()}"
                        th:value="${stateOpt}" th:text="${stateOpt.getValue()}"></option>
              </select>
              <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
            </label>

            <label class="field">
              Nome
              <input type="text" th:field="*{name}"/>
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </label>

            <label class="field">
              Ingredientes
              <input type="text" th:field="*{description}"/>
              <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </label>

            <label class="field">
              Preço
              <input type="number" step="0.01" min="0.0" th:field="*{price}"/>
              <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </label>

            <label class="field">
              Foto
              <input type="file" th:field="*{image}"/>
              <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
            </label>
          </fieldset>
        </div>
        <button type="submit" class="button submit">Continuar</button>
      </form>
    </main>

  </body>
</html>