
body {
    background-color: #EEEEEE;
    height: calc(100vh - 60px);
}

#fotofundo {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    background-color: #00000078;
    opacity: 40%;
}

div#restaurante {
    position: relative;
    width: 100%;
    height: 36px;
    margin-top: 0%;
    background-color: #eeeeee00;
}

#fotoPerfil {
    width: 40px;
    height: 40px;
    border-radius: 51%;
    position: relative;
    left: 48%;
    top: -43px;
    box-shadow: 1px 4px 13px #ccccccd1;
}

h2{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    position: relative;
    top: 20%;
    margin-left: 46%;
    font-weight: lighter;
}


div#restaurante #iconeVoltar{
    position: relative;
    width: 3%;
    left: 0%;
    top: -45px;
}

div#restaurante #iconeSeta {
    position: relative;
    width: 13px;
    margin-top: -7%;
    left: 0%;
}

div#restaurante #iconeSeta:hover {
    width: 12px;
}

div#menu{
        background-color: #eeeeeefa;
        width: 70%;
        height: 570px;
        position: relative;
        margin: 1% 7% 9% 14%;
        border-radius: 1%;
        box-shadow: 1px 4px 13px #0000003d;
        overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 11px;
    border-radius: 1%;
}
::-webkit-scrollbar-track {
    background-color: #d4d3d361;
}
::-webkit-scrollbar-button {
    background-color: #72727256;
    border-radius: 2%;
}
::-webkit-scrollbar-thumb {
    background-color: #7272723a;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #7272727e;
}

 h1  {
    font-size: 25px;
    font-family: Roboto, sans-serif;
    position: relative;
    text-align: center;
    margin-top: 1%;
    top: 18px;
}

#PratoPrincipal {
    height: 222px;
    width: 44%;
    position: relative;
    margin: 2% 0% 0% 28%;
    border-radius: 8%;
    transition: 0.4s;
}

#PratoPrincipal:hover {
    cursor: pointer;
    transform: translateY(2%);
}

#iconeDireita {
    position: relative;
    width: 2%;
    top: -218px;
    left: 25%;
    transition: 0.4s;
}

#iconeEsquerda{
    position: relative;
    width: 2%;
    top: -218px;
    left: 70.4%;
} 


#tituloPrato {
    position: relative;
    top: -52px;
    left: -9%;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 143%;
}

#precoPratoPrincipal {
    color: #FFFFFF;
    position: relative;
    top: -93px;
    font-size: 138%;
    left: 16%;
}

div#Pratos {
    top: -97px;
    font-family: Roboto;
    position: relative;
    margin-top: 0%;
}


#nomeCategoria {
    font-size: 20px;
    color: #111111;
    text-align: initial;
    margin-left: 5%;
    margin-top: 4%;
    top: 5px;
}

#iconeSeta2 {
    position: relative;
    width: 13px;
    margin-top: -7%;
    left: 0%;
}

#iconeSeta2:hover {
    width: 12px;
}

div#menu h2 {
    font-size: 19px;
    color: #383333;
    margin-left: 5%;
    text-align: initial;
    margin-top: 2%;
    font-weight: normal;
}

div#menu p {
    font-size: 29px;
    color: #5e4d4d;
    text-align: center;
    margin-top: -10%;
    top: 49px;
    position: relative;
}
 div#menu h3 {
    margin-right: 12%;
    font-family: Roboto;
    font-size: 16px;
    position: relative;
    color: #383333;
    top: 2px;
    text-align: end;
 }

 div#menu h4 {
    font-family: Roboto;
    font-size: 13px;
    position: relative;
    color: #383333;
    top: -18px;
    text-align: initial;
    margin-left: 5%;
    font-weight: lighter;
    margin-right: 25%;
    text-align-last: left;
}




