<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="common :: myHead" />
        <link href="/css/restaurant/profile.css" rel="stylesheet">
        <link href="/css/settings.css" rel="stylesheet">
        <title>Edit</title>
    </head>

    <body class="base base-background-color">
        <th:block th:replace="common :: myHeader" />
        <div class="home-page-main main-container">
            <main class="settings-page">
                <nav class="settings-page-left">
                    <h3>Configurações</h3>
                    <!--/*@thymesVar id="user" type="java.util.List<tanomenu.core.entity.User>"*/-->
                    <ul>
                        <span>Perfil pessoal</span>
                        <li>
                            <a th:href="@{/profile}">
                                <span class="material-icons">face</span>
                                <th:block th:text="${user.name}" />
                            </a>
                        </li>
                    </ul>

                    <ul>
                        <span>Suas páginas</span>
                        <!--/*@thymesVar id="restaurants" type="java.util.List<tanomenu.core.entity.Restaurant>"*/-->
                        <li th:each="restaurant: ${restaurants}">
                            <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.uuid})}">
                                <span class="material-icons">store</span> <th:block th:text="${restaurant.tradeName}" />
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="settings-page-right"></div>
            </main>

            <div class="image-profile register-restaurant">
                <!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->
                <form class="main-container" th:action="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}" th:object="${restaurant}" enctype="multipart/form-data" method="post">
                    <img id="img-profile" th:src="'/upload/' + ${restaurant.getImage()}">

                    <div class="fieldsets-container" style="display: flex;">
                        <fieldset style="margin: 20px; border: 0;">
                            <label class="field">
                                Nome Fantasia
                                <input type="text" th:field="*{tradeName}"/>
                                <span th:if="${#fields.hasErrors('tradeName')}" th:errors="*{tradeName}"></span>
                            </label>
                            <label class="field">
                                Razão social
                                <input type="text" th:field="*{companyName}"/>
                                <span th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                            </label>
                            <label class="field">
                                CNPJ
                                <input type="text" th:field="*{cnpj}"/>
                                <span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></span>
                            </label>
                            <label class="field">
                                Telefone
                                <input type="text" th:field="*{phone}"/>
                                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                            </label>
                            <label class="field">
                                Ramo alimentício
                                <select th:field="*{category}">
                                    <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.Category).values()}"
                                            th:value="${stateOpt}" th:text="${stateOpt.getValue()}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
                            </label>
                            <label class="field">
                                Foto
                                <input type="file" th:field="*{image}"/>
                                <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                            </label>
                        </fieldset>

                        <fieldset style="margin: 20px; border: 0;">
                            <label class="field">
                                Logradouro
                                <input type="text" th:field="*{address.area}"/>
                                <span th:if="${#fields.hasErrors('address.area')}" th:errors="*{address.area}"></span>
                            </label>
                            <label class="field">
                                CEP
                                <input type="text" th:field="*{address.postalCode}"/>

                                <span th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
                            </label>
                            <label class="field">
                                Bairro
                                <input type="text" th:field="*{address.neighborhood}"/>
                                <span th:if="${#fields.hasErrors('address.neighborhood')}" th:errors="*{address.neighborhood}"></span>
                            </label>
                            <label class="field">
                                Cidade
                                <input type="text" th:field="*{address.city}"/>
                                <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
                            </label>
                            <label class="field">
                                Estado
                                <select th:field="*{address.state}">
                                    <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.address.State).values()}"
                                            th:value="${stateOpt}" th:text="${stateOpt.getName()}"></option>
                                </select>
                                <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
                            </label>
                        </fieldset>
                    </div>

                    <button class="button submit" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </body>
</html>