<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/settings}">
    <head>
        <th:block th:replace="_layout/common :: myHead" />
        <link href="/css/restaurant/profile.css" rel="stylesheet">
        <link href="/css/settings.css" rel="stylesheet">
        <title>Edit</title>
    </head>

    <body class="base base-background-color">
        <div layout:fragment="content">
            <div class="home-page-main main-container">
                <div class="image-profile register-restaurant">
                    <!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->

                    <form class="main-container" th:action="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}" th:object="${restaurant}" enctype="multipart/form-data" method="post">
                        <img id="img-profile" th:src="'/upload/' + ${restaurant.getImage()}" onerror="this.src='/img/user-icon.png'">
                        <div class="fieldsets-container" style="display: flex;">
                            <fieldset style="margin: 20px; border: 0;">
                                <label class="field">
                                    Nome Fantasia
                                    <input type="text" th:field="*{tradeName}"/>
                                    <span th:if="${#fields.hasErrors('tradeName')}" th:errors="*{tradeName}"></span>
                                </label>
                                <label class="field">
                                    Razão social
                                    <input type="text" th:field="*{companyName}"/>
                                    <span th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                                </label>
                                <label class="field">
                                    CNPJ
                                    <input type="text" th:field="*{cnpj}"/>
                                    <span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></span>
                                </label>
                                <label class="field">
                                    Telefone
                                    <input type="text" th:field="*{phone}"/>
                                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                                </label>
                                <label class="field">
                                    Ramo alimentício
                                    <select th:field="*{category}">
                                        <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.Category).values()}"
                                                th:value="${stateOpt}" th:text="${stateOpt.getValue()}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
                                </label>
                                <label class="field">
                                    Foto
                                    <input class="input-image" type="file" th:field="*{image}"/>
                                    <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                                </label>
                            </fieldset>

                            <fieldset style="margin: 20px; border: 0;">
                                <label class="field">
                                    Logradouro
                                    <input type="text" th:field="*{address.area}"/>
                                    <span th:if="${#fields.hasErrors('address.area')}" th:errors="*{address.area}"></span>
                                </label>
                                <label class="field">
                                    CEP
                                    <input type="text" th:field="*{address.postalCode}"/>

                                    <span th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
                                </label>
                                <label class="field">
                                    Bairro
                                    <input type="text" th:field="*{address.neighborhood}"/>
                                    <span th:if="${#fields.hasErrors('address.neighborhood')}" th:errors="*{address.neighborhood}"></span>
                                </label>
                                <label class="field">
                                    Cidade
                                    <input type="text" th:field="*{address.city}"/>
                                    <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
                                </label>
                                <label class="field">
                                    Estado
                                    <select th:field="*{address.state}">
                                        <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.address.State).values()}"
                                                th:value="${stateOpt}" th:text="${stateOpt.getName()}"></option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
                                </label>
                            </fieldset>
                        </div>

                        <button class="button submit" type="submit">Salvar</button>
                    </form>
                    <script>
                        (() => {
                            function preview_image(event) {
                                const img = document.querySelector('.settings-page-right .home-page-main .image-profile form #img-profile');
                                const reader = new FileReader();
                                reader.onload = () => img.src = reader.result;
                                reader.readAsDataURL(event.target.files[0]);
                            }

                            const input = document.querySelector('.settings-page-right .home-page-main .image-profile form label input[type="file"]');
                            input.onchange = preview_image
                        })()
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>