<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="common :: myHead" />
        <title>Página inicial</title>
    </head>
    <body>
        <th:block th:replace="common :: myHeader" />

        <main>
            <!--/*@thymesVar id="restaurant" type="tanomenu.models.Restaurant"*/-->
            <h2 th:text="${restaurant.getCompanyName()}">Nome</h2>
            <h3 th:text="${restaurant.getPhone()}">Telefone</h3>
            <h4 th:text="${restaurant.getCnpj()}">CNPJ</h4>
        </main>

        <footer th:replace="common :: myFooter"></footer>
    </body>
</html>