<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->
<!--/*@thymesVar id="gallery" type="List<tanomenu.core.entity.restaurant.Product>"*/-->
    <head>
        <th:block th:replace="_layout/common :: myHead" />
        <title th:text="${restaurant.getTradeName()}">Nome do Restaurante</title>
        <th:block th:replace="_layout/common :: flickityMetaCss" />
        <link href="/css/restaurant/menu.css" rel="stylesheet">
    </head>
    <body class="base base-background-image base-background-image-50">
        <th:block th:replace="_layout/common :: myHeader" />

        <main class="restaurant-menu-main">
            <section class="restaurant-menu-main-top">
                <h1 th:text="${restaurant.tradeName}">Nome do Restaurante</h1>

                <div th:if="${gallery}" class="gallery js-flickity" data-flickity='{ "wrapAround": true, "contain": true, "autoPlay": true }'>
                    <div class="gallery-cell"
                         th:each="product :${gallery}"
                         th:style="'background-image: url(/upload/' + ${product.image} + ')'"
                         th:title="${product.description}"
                    >
                        <h2 th:text="${product.name}"></h2>
                        <h3 th:text="'R$ ' + ${product.price}"></h3>
                    </div>
                </div>
            </section>

            <section class="restaurant-menu-main-content">
                <!--/*@thymesVar id="menu" type="java.util.Map<tanomenu.core.entity.restaurant.CategoryProduct, java.util.List<tanomenu.core.entity.restaurant.Product>"*/-->
                <!--/*@thymesVar id="validate" type="java.lang.Boolean"*/-->
                <div class="contact" style="display: flex; align-items: center; justify-content: center">
                    <a th:if="${validate}" th:href="@{/restaurant/{uuid}/register/ (uuid=${restaurant.uuid})}" style="text-decoration: none; color: black; margin-right: auto;">+ Criar Prato</a>
                    <span th:if="${!validate}" class="material-icons">call</span>
                    <p th:if="${!validate}" th:text="${restaurant.phone}" style="margin-right: auto;">Numero do restaurante</p>
                    <span th:if="${!validate}" class="material-icons">place</span>
                    <p th:if="${!validate}" th:text="${restaurant.address.neighborhood} + ' ' + ${restaurant.address.city}+'-'+${restaurant.address.state.code}"></p>
                </div>

                <ul th:each="entry, stat :${menu}">
                    <h2 th:text="${entry.key.getValue().toUpperCase()}">Seção do Menu</h2>
                    <li th:each="product :${entry.value}">
                        <h3><span th:text="${product.name}">Nome do produto</span> R$ <th:block th:text="${product.price}" /></h3>
                        <div style="display: flex;" class="icons">
                            <p th:text="${product.description}">Descrição dos ingredientes, preparos, receita, etc.</p>
                            <a th:if="${validate}" th:href="@{/restaurant/{uuidR}/edit/{uuidP} (uuidR=${restaurant.uuid}, uuidP=${product.uuid}) }"><img class="icon" src="/img/icons/Pencil.svg"></a>
                            <a class="delete" th:if="${validate}" th:href="@{/restaurant/{uuidR}/delete/{uuidP} (uuidR=${restaurant.uuid}, uuidP=${product.uuid})}" >
                                <span class="material-icons">close</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <th:block th:unless="${menu}">
                    <th:block th:replace="_layout/common :: ooops('Não encontramos nada para mostrar')" />
                </th:block>
            </section>
        </main>
        <th:block th:replace="_layout/common :: flickityMetaJs" />
    </body>
</html>
