<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->
<!--/*@thymesVar id="gallery" type="List<tanomenu.core.entity.restaurant.Product>"*/-->
    <head>
        <th:block th:replace="_layout/common :: myHead" />
        <title th:text="${restaurant.getTradeName()}">Nome do Restaurante</title>
        <th:block th:replace="_layout/common :: flickityMeta" />
        <link href="/css/restaurant/menu.css" rel="stylesheet">
    </head>
    <body class="base base-background-image base-background-image-50">
        <th:block th:replace="_layout/common :: myHeader" />

        <main class="restaurant-menu-main">
            <section class="restaurant-menu-main-top">
                <h1 th:text="${restaurant.tradeName}">Nome do Restaurante</h1>

                <div th:if="${gallery}" class="gallery js-flickity" data-flickity='{ "wrapAround": true, "contain": true }'>
                    <div class="gallery-cell"
                         th:each="product :${gallery}"
                         th:style="'background-image: url(/upload/' + ${product.image} + ')'"
                         th:title="${product.description}"
                    >
                        <h2 th:text="${product.name}"></h2>
                        <h3 th:text="'R$ ' + ${product.price}"></h3>
                    </div>
                </div>
            </section>

            <section class="restaurant-menu-main-content">
                <!--/*@thymesVar id="menu" type="java.util.Map<tanomenu.core.entity.restaurant.CategoryProduct, java.util.List<tanomenu.core.entity.restaurant.Product>"*/-->
                <a th:href="@{/restaurant/{uuid}/register/ (uuid=${restaurant.uuid})}" style="text-decoration: none; color: black;">+ Criar Prato</a>
                <ul th:each="entry, stat :${menu}">
                    <h2 th:text="${entry.key.toString().toUpperCase()}">Seção do Menu</h2>
                    <li th:each="product :${entry.value}">
                        <h3><span th:text="${product.name}">Nome do produto</span> R$ <th:block th:text="${product.price}" /></h3>
                        <p th:text="${product.description}">Descrição dos ingredientes, preparos, receita, etc.</p>
                    </li>
                </ul>

                <th:block th:unless="${restaurant.getMenu()}">
                    <th:block th:replace="_layout/common :: ooops('Não encontramos nada para mostrar')" />
                </th:block>
            </section>
        </main>

    </body>
</html>
