<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Perfil do Restaurant</title>
        <link href="/css/restaurant/profile.css" rel="stylesheet">
    </head>

    <body>
        <h1>Name Of Restaurant</h1>

        <div class="form">
            <div>
                <img src="#">
                <h4>Notificações</h4>
                <p>Altere as opções de notificação</p>
            </div>

            <div>
                <img src="#">
                <h4>Localização</h4>
                <p>Altere a localização de seu restaurante</p>
            </div>

            <div>
                <img src="#">
                <h4>Segurança</h4>
                <p>altere as opções de segurança de sua conta</p>
            </div>
        </div>
    </body>
</html>