<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="common :: myHead" />
        <link href="/css/restaurant/profile.css" rel="stylesheet">
        <title>Perfil do Restaurante</title>
    </head>
    <body class="base base-background-color">
        <div class="main-container home-page-main" >
            <!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->

            <div class="image-profile">
                <img id="img-profile" th:src="'/upload/' + ${restaurant.getImage()}">

                <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}"><img class="icon" src="/img/icons/Pencil.svg"></a>
            </div>

            <div class="name-profile">

                <h1 th:text="${restaurant.getTradeName()}">Name of restaurant</h1>
                <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}"><img class="icon" src="/img/icons/Pencil.svg"></a>
            </div>
            <form>
                <a th:href="@{/profile}" >
                    <img src="/img/icons/bell.svg" class="a-icon">
                    <h2>Perfil</h2>
                    <p>Altere suas informações do perfil</p>
                    <img src="/img/icons/chevron-right.svg" class="arrow">
                </a>

                <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}">
                    <img src="/img/icons/map-pin.svg" class="a-icon">
                    <h2>Restaurante</h2>
                    <p>Altere a localização de seu restaurante</p>
                    <img src="/img/icons/chevron-right.svg" class="arrow">
                </a>
            </form>

            <footer>
                <a th:href="@{/}"><img src="/img/logo.png"></a>
                <th:block th:replace="common :: myFooter" />
            </footer>
        </div>
    </body>
</html>