<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="common :: myHead" />
        <link href="/css/restaurant/profile.css" rel="stylesheet">
        <link href="/css/settings.css" rel="stylesheet">
        <title>Perfil do Restaurante</title>
    </head>
    <body class="base base-background-color">
    <!--/*@thymesVar id="restaurant" type="tanomenu.core.entity.Restaurant"*/-->
    <!--/*@thymesVar id="user" type="tanomenu.core.entity.User"*/-->
        <div class="main-container home-page-main">
            <main class="settings-page">
                <nav class="settings-page-left">
                    <h3>Configurações</h3>

                    <ul>
                        <span>Perfil pessoal</span>
                        <li>
                            <a th:href="@{/profile}">
                                <span class="material-icons">face</span>
                                <th:block th:text="${user.name}" />
                            </a>
                        </li>
                    </ul>

                    <ul>
                        <span>Suas páginas</span>
                        <!--/*@thymesVar id="restaurants" type="java.util.List<tanomenu.core.entity.Restaurant>"*/-->
                        <li th:each="restaurant: ${restaurants}">
                            <a th:href="@{/restaurant/profile/{uuid} (uuid=${restaurant.uuid})}">
                                <span class="material-icons">store</span> <th:block th:text="${restaurant.tradeName}" />
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="settings-page-right"></div>
            </main>
            <div class="profile">
                <div class="image-profile">
                    <img id="img-profile" th:src="'/upload/' + ${restaurant.getImage()}" onerror="this.src='/img/user-icon.png'">

                    <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}"><img class="icon" src="/img/icons/Pencil.svg"></a>
                </div>

                <div class="name-profile">

                    <h1 th:text="${restaurant.getTradeName()}">Name of restaurant</h1>
                    <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}"><img class="icon" src="/img/icons/Pencil.svg"></a>
                </div>
                <form>
                    <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.getUuid()})}" data-bs-toggle="modal" data-bs-target="#security-modal">
                        <img src="/img/icons/bell.svg" class="a-icon">
                        <h2>Telefone</h2>
                        <p>Altere seu número de telefone</p>
                        <img src="/img/icons/chevron-right.svg" class="arrow">
                    </a>

                    <a href="#">
                        <img src="/img/icons/map-pin.svg" class="a-icon">
                        <h2>Localização</h2>
                        <p>Altere a localização de seu restaurante</p>
                        <img src="/img/icons/chevron-right.svg" class="arrow">
                    </a>

                    <a href="#">
                        <img src="/img/icons/alert-circle.svg" class="a-icon">
                        <h2>Segurança</h2>
                        <p>altere as opções de segurança de sua conta</p>
                        <img src="/img/icons/chevron-right.svg" class="arrow">
                    </a>
                </form>

                <footer>
                    <img src="/img/logo.png">
                    <th:block th:replace="common :: myFooter" />
                </footer>
            </div>
        </div>
    </body>
</html>