<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="_layout/common :: myHead" />
        <link href="/css/restaurant/register.css" rel="stylesheet">
        <title>Cadastrar Restaurante</title>
    </head>
    <body class="base base-background-color">
        <th:block th:replace="_layout/common :: myHeader"/>

        <main class="register-restaurant">
            <h1 class="page-title">Cadastrar Restaurante</h1>

            <form method="post" th:action="@{/restaurant/register}" th:object="${restaurantRegisterDto}" enctype="multipart/form-data">
                <img th:src="${image} ? @{/upload/{uuid} (uuid=${image})} : @{/img/user-icon.png}" style="width: 150px; height: 150px; border-radius: 50%">
                <div class="fieldsets-container" >
                    <fieldset style="margin-right: 30px;">
                        <label class="field">
                            Nome Fantasia
                            <input type="text" th:field="*{tradeName}"/>
                            <span th:if="${#fields.hasErrors('tradeName')}" th:errors="*{tradeName}"></span>
                        </label>
                        <label class="field">
                            Razão social
                            <input type="text" th:field="*{companyName}"/>
                            <span th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                        </label>
                        <label class="field">
                            CNPJ
                            <input type="text" th:field="*{cnpj}"/>
                            <span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></span>
                        </label>
                        <label class="field">
                            Telefone
                            <input type="text" th:field="*{phone}"/>
                            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                        </label>
                        <label class="field">
                            Ramo alimentício
                            <select th:field="*{category}">
                                <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.Category).values()}"
                                        th:value="${stateOpt}" th:text="${stateOpt.getValue()}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
                        </label>
                        <label class="field">
                            Foto
                            <input type="file" th:field="*{image}"/>
                            <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                        </label>
                    </fieldset>

                    <fieldset>
                        <label class="field">
                            Logradouro
                            <input type="text" th:field="*{address.area}"/>
                            <span th:if="${#fields.hasErrors('address.area')}" th:errors="*{address.area}"></span>
                        </label>
                        <label class="field">
                            CEP
                            <input type="text" th:field="*{address.postalCode}"/>
                            <span th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
                        </label>
                        <label class="field">
                            Bairro
                            <input type="text" th:field="*{address.neighborhood}"/>
                            <span th:if="${#fields.hasErrors('address.neighborhood')}" th:errors="*{address.neighborhood}"></span>
                        </label>
                        <label class="field">
                            Cidade
                            <input type="text" th:field="*{address.city}"/>
                            <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
                        </label>
                        <label class="field">
                            Estado
                            <select th:field="*{address.state}">
                                <option th:each="stateOpt : ${T(tanomenu.core.entity.restaurant.address.State).values()}"
                                        th:value="${stateOpt}" th:text="${stateOpt.getName()}"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
                        </label>
                    </fieldset>
                </div>
                <button type="submit" class="button submit">Continuar</button>
            </form>

            <script>
                (() => {
                    function preview_image(event) {
                        const img = document.querySelector('.register-restaurant form img');
                        const reader = new FileReader();
                        reader.onload = () => img.src = reader.result;
                        reader.readAsDataURL(event.target.files[0]);
                    }

                    const input = document.querySelector('.register-restaurant form input[type="file"]');
                    input.onchange = preview_image
                })()
            </script>
        </main>

    </body>
</html>