<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="base :: head(~{::title})">
    <title>Cadastrar Restaurante</title>
</head>

<body class="base base-background-color">
    <header th:replace="base :: header">
    </header>

    <main class="login-signup">
        <h1 class="page-title">Cadastrar Restaurante</h1>

        <form method="post" th:action="@{/restaurant/register}" th:object="${restaurant}">
            <label class="field">
                Nome do Restaurante
                <input type="text" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </label>
            <label class="field">
                CNPJ
                <input type="text" th:field="*{cnpj}"/>
                <span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></span>
            </label>
            <label class="field">
                Telefone
                <input type="text" th:field="*{phone}"/>
                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
            </label>
            <button type="submit" class="button">Começar</button>
        </form>
    </main>
</body>
</html>