/*global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

:root {
    --primary-color: #F8AC38;
    --secondary-color: #FD5555;
    --gray-light: #EEEEEE;
    --gray-dark: #82828261;
    --gray-darker: #535353;
}

/*
::-webkit-scrollbar {
    width: 11px;
    border-radius: 1%;
}

::-webkit-scrollbar-track {
    background-color: #d4d3d361;
}

::-webkit-scrollbar-button {
    background-color: #72727256;
    border-radius: 2%;
}

::-webkit-scrollbar-thumb {
    background-color: #7272723a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7272727e;
}
*/

/*components*/
.field {
    display: grid;
    grid-auto-rows: auto;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
}

.field input, .field select {
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #CCC;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    margin-top: 5px;
}

.field span {
    color: var(--secondary-color);
    text-align: center;
    font-weight: normal;
}

.button {
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

.link {
    text-decoration: none;
    color: black;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}


/*body*/
body.base {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body.base.base-background-image {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("/img/background.png");
    background-position: center;
    background-size: cover;
}

body.base.base-background-color {
    background: var(--gray-light);
}


/*header*/
body.base > header.base-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

body.base > header.base-header > a.base-logo > img {
    width: 200px;
}

body.base > header.base-header div.badge {
    position: relative;
}

body.base > header.base-header div.badge label input {
    display: none;
}

body.base > header.base-header div.badge img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer;
}

body.base > header.base-header div.badge .badge-dropdown {
    display: none;
}

body.base > header.base-header div.badge label input:checked ~ .badge-dropdown {
    display: block;
    z-index: 999;
}

body.base > header.base-header div.badge .badge-dropdown {
    position: absolute;
    right: 0%;
    top: 100%;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 12px 1px var(--gray-dark);
}

body.base > header.base-header div.badge .badge-dropdown:after {
    bottom: 100%;
    left: 92%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

body.base > header.base-header div.badge .badge-dropdown:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 9px;
    margin-left: -9px;
}

body.base > header.base-header div.badge .badge-dropdown ul {
    list-style: none;
}

body.base > header.base-header div.badge .badge-dropdown ul li {
    margin: 5px 0 5px 0;
}

body.base > header.base-header div.badge .badge-dropdown ul li a {
    display: inline-flex;
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding: 10px;
    width: 100%;
}

body.base > header.base-header div.badge .badge-dropdown ul li a:hover {
    background-color: var(--gray-light);
}

body.base > header.base-header div.badge .badge-dropdown ul li a .material-icons {
    font-size: 20px; /* Preferred icon size */
    margin-right: 10px;
}


/* footer */
body.base > .base-footer {
    padding: 10px 20px;
    text-align: center;
}