.settings-page {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

.settings-page-left {
    border-right: 1px solid var(--gray-dark);
    height: 100%;
    padding: 10px 0 20px 0;
}

.settings-page-left h3 {
    font-size: 20px;
    text-align: center;
}

.settings-page-left ul {
    list-style: none;
    margin: 20px 0 10px 0;
}

.settings-page-left ul > span {
    font-size: 15px;
    margin: 10px 10px 10px 10px;
}

.settings-page-left ul li {
    margin: 5px 0 5px 0;
}

.settings-page-left ul li a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 10px 10px 10px 20px;
    width: 100%;
}

.settings-page-left ul li a .material-icons {
    font-size: 25px;
    margin-right: 10px;
}

.settings-page-left ul li a:hover {
    background-color: var(--gray-dark);
}

.settings-page-right {
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.settings-page-right form {
    display: flex;
    flex-direction: column;
    width: 750px;
}

.settings-page-right form img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    place-self: center;
    border-radius: 50%;
}

.settings-page-right form .fieldsets-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.settings-page-right form .fieldsets-container > fieldset {
    width: 350px;
    border: none;
}

.settings-page-right form .button {
    margin-left: auto;
}