<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/StyleCardapio.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<head>
<body>
<img id="fotofundo" src="img/pexels-ella-olsson-1640773.jpg">


<div id="restaurante">
    <h2>Areias <a href="#">  <img id="iconeSeta"  src=""> </a> </h2>
    <a href="#"> <img id="iconeVoltar" src=".docs/iconevoltarsemfundo.png" > </a>
    <a href="#">  <img id="fotoPerfil" src="/.docs/foto2.jpg"> </a>
</div>

<div id="menu">
    <h1 id="nomeRestaurante">Restaurante toca do Urso </h1>

    <a href="#"> <img id="PratoPrincipal" src="frango-a-passarinho.jpg"> </a>
    <h1 id="tituloPrato">Frango à passarinho</h1>
    <h1 id="precoPratoPrincipal"> R$29,50 </h1>
    <a href="#"> <img id="iconeDireita" src="img/seta2.png"> </a>
    <a href="#"> <img id="iconeEsquerda" src="img/seta3sem fundo.png"> </a>

    <div id="Pratos">
        <h1 id=nomeCategoria>Pratos  <a href="#"> <img id="iconeSeta2" src="img/iconeSetinhasemfundo.png"> </a> </h1>
        <div id="item">
            <h2>Filé de mandioca</h2>
            <p>............................................................</p>
            <h3>R$25,30</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>

        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc. Parapapapapapapappa uuuuuu oi meu chapa uuuu como é bom ser vida louca</h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>
    </div>


    <div id="Pratos">
        <h1 id=nomeCategoria>Pratos  <a href="#"> <img id="iconeSeta2" src="img/iconeSetinha.png"> </a> </h1>
        <div id="item">
            <h2>Filé de mandioca</h2>
            <p>............................................................</p>
            <h3>R$25,30</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>

        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc. Parapapapapapapappa uuuuuu oi meu chapa uuuu como é bom ser vida louca</h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>

        <div id="item">
            <h2>Arroz Preto</h2>
            <p>............................................................</p>
            <h3>R#30,00</h3>
            <h4> Descrição dos ingredientes, preparos, receita, etc </h4>
        </div>
    </div>
</div>



</body>
</head>
</html>
