<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="base :: head(~{::title})">
    <title>Página inicial</title>
</head>

<body>
<header th:replace="base :: header"></header>

<main>
    <h2>Olá, <!--/*@thymesVar id="currentUser" type="tanomenu.models.User"*/-->
        <span th:text="${currentUser.getName()}"></span>
    </h2>

    <a href="/logout">Sair</a>

    <br><br><br>

    <h2>Todos os usuários</h2>
    <table>
        <tr>
            <th>UUID</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        <!--/*@thymesVar id="allUsers" type="List"*/-->
        <tr th:each="user: ${allUsers}">
            <!--/*@thymesVar id="user" type="tanomenu.models.User"*/-->
            <td th:text="${user.getUuid()}" />
            <td th:text="${user.getName()}" />
            <td th:text="${user.getEmail()}" />
        </tr>
    </table>



    <br><br><br>
</main>

<footer th:replace="base :: footer"></footer>
</body>
</html>