<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="common :: myHead" />
        <link href="/css/login-signup.css" rel="stylesheet">
        <title>Fazer Login</title>
    </head>
    <body class="base base-background-image">
        <th:block th:replace="common :: myHeader" />

        <main class="login-signup">
            <h1 class="page-title">Fazer Login</h1>

            <form action="#" th:action="@{/login}" th:object="${userLoginDto}" method="post">
                <label class="field">
                    Email
                    <input type="email" th:field="*{email}"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </label>
                <label class="field">
                    Senha
                    <input type="password" th:field="*{password}"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </label>
                <button type="submit" class="button">Entrar</button>
            </form>

            <a href="sign-up" class="link">Ainda não tem uma conta?</a>
            <h3 th:if="${param.error}" class="alert alert-error">
                Nome de usuário e senha inválidos
            </h3>
            <h3 th:if="${param.logout}" class="alert alert-success">
                Você foi desconectado
            </h3>
        </main>

        <th:block th:replace="common :: myFooter" />
    </body>
</html>