<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="_layout/common :: myHead" />
        <title>Página inicial</title>
        <th:block th:replace="_layout/common :: flickityMetaCss" />
        <link href="/css/home.css" rel="stylesheet">
    </head>
    <body class="base base-background-color">
        <th:block th:replace="_layout/common :: myHeader" />
        <main class="home-page-main">
            <section th:unless="${restaurants.isEmpty()}" class="home-page-section">
                <h3 class="home-page-section-title">Resultado da Busca</h3>
                <p class="home-page-section-title"> <spam th:text="${restaurants.size()}"></spam> Estabelecimento(s) encontrado(s)!</p>
                <div class="home-page-section-restaurants js-flickity"
                     data-flickity='{ "cellAlign": "left", "freeScroll": true, "prevNextButtons": false, "contain": true, "groupCells": true }'>
                    <div class="home-page-section-restaurant" th:each="restaurant :${restaurants}">
                        <a th:href="@{/restaurant/{uuid}(uuid=${restaurant.uuid})}"
                           th:title="${restaurant.tradeName}"
                           th:style="'background-image: url(/upload/' + ${restaurant.image} + ')'">
                            <h4 th:text="${restaurant.tradeName}"></h4>
                        </a>
                    </div>
                </div>
            </section>

            <th:block th:if="${restaurants.isEmpty()}">
                <th:block th:replace="_layout/common :: ooops('Nenhum restaurante disponível!')" />
            </th:block>
        </main>

        <th:block th:replace="_layout/common :: flickityMetaJs" />
    </body>
</html>