<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="_layout/common :: myHead" />
        <title>Configurações</title>
        <link href="/css/settings.css" rel="stylesheet">
    </head>
    <body class="base base-background-color">
        <th:block th:replace="_layout/common :: myHeader" />
        <main class="settings-page">
            <nav class="settings-page-left">
                <h3>Configurações</h3>

                <ul>
                    <span>Perfil pessoal</span>
                    <li>
                        <a th:href="@{/profile}">
                            <span class="material-icons">face</span> <!--/*@thymesVar id="user" type="tanomenu.core.entity.User"*/-->
                            <th:block th:text="${user.name}" />
                        </a>
                    </li>
                </ul>

                <ul>
                    <span>Suas páginas</span>
                    <!--/*@thymesVar id="restaurants" type="java.util.List<tanomenu.core.entity.Restaurant>"*/-->
                    <li th:each="restaurant: ${restaurants}">
                        <a th:href="@{/restaurant/profile/edit/{uuid} (uuid=${restaurant.uuid})}">
                            <span class="material-icons">store</span> <th:block th:text="${restaurant.tradeName}" />
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="settings-page-right">

            </div>


        </main>
    </body>
</html>