<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <th:block th:replace="common :: myHead" />
        <link href="/css/login-signup.css" rel="stylesheet">
        <title>Criar uma Conta</title>
    </head>
    <body class="base base-background-image">
        <th:block th:replace="common :: myHeader" />

        <main class="login-signup">
            <h1 class="page-title">Criar uma Conta</h1>

            <form action="#" th:action="@{/sign-up}" th:object="${dto}" method="post">
                <label class="field">
                    Nome
                    <input type="text" th:field="*{name}"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </label>
                <label class="field">
                    Email
                    <input type="email" th:field="*{email}"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </label>
                <label class="field">
                    CPF
                    <input type="text" th:field="*{cpf}"/>
                    <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                </label>
                <label class="field">
                    Senha
                    <input type="password" th:field="*{password}"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </label>
                <button type="submit" class="button">Continuar</button>
            </form>

            <a href="/login" class="link">Já tem uma conta?</a>
        </main>

        <th:block th:replace="common :: myFooter" />
    </body>
</html>