<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head th:replace="base :: head(~{::title})">
        <title>Criar uma conta</title>
    </head>

    <body>
        <header th:replace="base :: header"></header>

        <main>
            <h2>Criar uma conta</h2>

            <form action="#" th:action="@{/sign-up}" th:object="${user}" method="post">
                <label>
                    Nome:
                    <input type="text" th:field="*{name}" />
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </label>
                <label>
                    Email:
                    <input type="email" th:field="*{email}" />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </label>
                <label>
                    CPF:
                    <input type="text" th:field="*{cpf}" />
                    <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                </label>
                <label>
                    Senha:
                    <input type="password" th:field="*{password}" />
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </label>
                <button type="submit">Continuar</button>
            </form>
        </main>

        <footer th:replace="base :: footer"></footer>
    </body>
</html>